# Python
__pycache__/
*.pyc
.venv/
venv/

# Docker
*.tar

# Helm
*.tgz

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env
*.secret